In [1]:
import awswrangler as wr
import pandas as pd
import boto3
import json

In [2]:
boto3.setup_default_session(profile_name='geekfox-pawprint')

In [28]:
df = wr.s3.read_json('s3://bucket/taxonomy/taxonomy/taxonomy_full.json', lines=True)

In [38]:
import io 

s3 = boto3.resource('s3')
obj = s3.Object('bucket', 'taxonomy/taxonomy/taxonomy_full.json')
body = obj.get()['Body'].read()
df = pd.read_json(io.StringIO(body.decode('utf-8')))

In [34]:
df.head()

                                      taxonomy_nodes
0  {'query': ['301158'], 'taxonomy': {'tax_id': 3...
1  {'query': ['374419'], 'taxonomy': {'tax_id': 3...
2  {'query': ['1496132'], 'taxonomy': {'tax_id': ...
3  {'query': ['1296583'], 'taxonomy': {'tax_id': ...
4  {'query': ['1209081'], 'taxonomy': {'tax_id': ...

In [39]:

df = pd.json_normalize(df['taxonomy_nodes'].tolist())

In [40]:
df.head()

,query,taxonomy.tax_id,taxonomy.organism_name,taxonomy.common_name,taxonomy.lineage,taxonomy.rank,taxonomy.has_described_species_name,taxonomy.children,taxonomy.descendent_with_described_species_names_count,taxonomy.counts
0,[301158],301158,Haplonycteris fischeri,Philippine pygmy fruit bat,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",SPECIES,True,NaN,NaN,NaN
1,[374419],374419,Megaerops kusnotoi,Javan tailless fruit bat,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",SPECIES,True,NaN,NaN,NaN
2,[1496132],1496132,Pteropus tokudae,Guam flying fox,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",SPECIES,True,NaN,NaN,NaN
3,[1296583],1296583,Vespertilionidae sp. BOLD:AAC0445,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",SPECIES,NaN,NaN,NaN,NaN
4,[1209081],1209081,Myotis planiceps,flat-headed Myotis,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",SPECIES,True,NaN,NaN,NaN

In [7]:
df[~df['taxonomy.rank'].isin(['SPECIES', 'SUBSPECIES'])].head()

Empty DataFrame
Columns: [query, taxonomy.tax_id, taxonomy.organism_name, taxonomy.common_name, taxonomy.lineage, taxonomy.children, taxonomy.descendent_with_described_species_names_count, taxonomy.rank, taxonomy.has_described_species_name, taxonomy.counts]
Index: []

In [8]:
df[~df['taxonomy.children'].isna()].head()

,query,taxonomy.tax_id,taxonomy.organism_name,taxonomy.common_name,taxonomy.lineage,taxonomy.children,taxonomy.descendent_with_described_species_names_count,taxonomy.rank,taxonomy.has_described_species_name,taxonomy.counts
0,[59472],59472,Pipistrellus kuhlii,Kuhl's pipistrelle,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...","[1707946, 983528]",2.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 29200}, ..."
11,[159332],159332,Myotis oxyotus,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[1908665],1.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 37}, {'t..."
26,[384634],384634,Myotis chiloensis,Chilean myotis,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[2977340],1.0,SPECIES,True,NaN
30,[242915],242915,Plecotus macrobullaris,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[272800],1.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 37}, {'t..."
46,[392318],392318,Myotis bombinus,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[392319],1.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 37}, {'t..."

In [9]:
df[df['taxonomy.tax_id'] == 1908665].head()

,query,taxonomy.tax_id,taxonomy.organism_name,taxonomy.common_name,taxonomy.lineage,taxonomy.children,taxonomy.descendent_with_described_species_names_count,taxonomy.rank,taxonomy.has_described_species_name,taxonomy.counts
380,[1908665],1908665,Myotis oxyotus gardneri,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",NaN,NaN,SUBSPECIES,True,NaN

In [27]:
df[~df['taxonomy.descendent_with_described_species_names_count'].isna()].head()

,query,taxonomy.tax_id,taxonomy.organism_name,taxonomy.common_name,taxonomy.lineage,taxonomy.children,taxonomy.descendent_with_described_species_names_count,taxonomy.rank,taxonomy.has_described_species_name,taxonomy.counts
0,[59472],59472,Pipistrellus kuhlii,Kuhl's pipistrelle,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...","[1707946, 983528]",2.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 29200}, ..."
11,[159332],159332,Myotis oxyotus,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[1908665],1.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 37}, {'t..."
26,[384634],384634,Myotis chiloensis,Chilean myotis,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[2977340],1.0,SPECIES,True,NaN
30,[242915],242915,Plecotus macrobullaris,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[272800],1.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 37}, {'t..."
46,[392318],392318,Myotis bombinus,NaN,"[1, 131567, 2759, 33154, 33208, 6072, 33213, 3...",[392319],1.0,SPECIES,True,"[{'type': 'COUNT_TYPE_GENE', 'count': 37}, {'t..."

In [15]:
df.columns

Index(['query', 'taxonomy.tax_id', 'taxonomy.organism_name',
       'taxonomy.common_name', 'taxonomy.lineage', 'taxonomy.children',
       'taxonomy.descendent_with_described_species_names_count',
       'taxonomy.rank', 'taxonomy.has_described_species_name',
       'taxonomy.counts'],
      dtype='object')

In [9]:
from great_expectations.data_context import BaseDataContext
from great_expectations.data_context.types.base import DataContextConfig, DatasourceConfig, AnonymizedUsageStatisticsConfig
from great_expectations.dataset import PandasDataset
import great_expectations as gx

In [10]:
context = gx.get_context(
    DataContextConfig(
        datasources={
            "pandas_datasource": DatasourceConfig(
                class_name="PandasDatasource"                
            )
        },
        stores={
            "expectations_store": {
                "class_name": "ExpectationsStore",
                "store_backend": {
                    "class_name": "TupleFilesystemStoreBackend",
                    "base_directory": "/Volumes/GeekFoxLab/Projetos/Pawprint/config/expectations",
                }
            }
        },
        expectations_store_name="expectations_store",
    )
)

In [11]:
suite = context.get_expectation_suite('taxonomy.taxonomy')

In [12]:
batch = PandasDataset(df, expectation_suite=suite)
results = batch.validate()
results

{
  "success": false,
  "results": [
    {
      "success": false,
      "expectation_config": {
        "expectation_type": "expect_table_columns_to_match_ordered_list",
        "kwargs": {
          "column_list": [
            "query",
            "taxonomy.tax_id",
            "taxonomy.organism_name",
            "taxonomy.common_name",
            "taxonomy.lineage",
            "taxonomy.children",
            "taxonomy.descendent_with_described_species_names_count",
            "taxonomy.rank",
            "taxonomy.has_described_species_name",
            "taxonomy.counts"
          ]
        },
        "meta": {}
      },
      "result": {
        "observed_value": [
          "query",
          "taxonomy.tax_id",
          "taxonomy.organism_name",
          "taxonomy.lineage",
          "taxonomy.rank",
          "taxonomy.has_described_species_name",
          "taxonomy.common_name",
          "taxonomy.children",
          "taxonomy.descendent_with_described_species_names_count",
          "taxonomy.counts"
        ],
        "details": {
          "mismatched": [
            {
              "Expected Column Position": 3,
              "Expected": "taxonomy.common_name",
              "Found": "taxonomy.lineage"
            },
            {
              "Expected Column Position": 4,
              "Expected": "taxonomy.lineage",
              "Found": "taxonomy.rank"
            },
            {
              "Expected Column Position": 5,
              "Expected": "taxonomy.children",
              "Found": "taxonomy.has_described_species_name"
            },
            {
              "Expected Column Position": 6,
              "Expected": "taxonomy.descendent_with_described_species_names_count",
              "Found": "taxonomy.common_name"
            },
            {
              "Expected Column Position": 7,
              "Expected": "taxonomy.rank",
              "Found": "taxonomy.children"
            },
            {
              "Expected Column Position": 8,
              "Expected": "taxonomy.has_described_species_name",
              "Found": "taxonomy.descendent_with_described_species_names_count"
            }
          ]
        }
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "query",
          "type_": "list"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.tax_id",
          "type_": "long"
        },
        "meta": {}
      },
      "result": {
        "observed_value": "int64"
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.organism_name",
          "type_": "str"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.common_name",
          "type_": "str"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 528,
        "missing_percent": 55.932203389830505,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.lineage",
          "type_": "list"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.children",
          "type_": "list"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 880,
        "missing_percent": 93.22033898305084,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.descendent_with_described_species_names_count",
          "type_": "float"
        },
        "meta": {}
      },
      "result": {
        "observed_value": "float64"
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.rank",
          "type_": "str"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.has_described_species_name",
          "type_": "bool"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 206,
        "missing_percent": 21.822033898305087,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "expectation_type": "expect_column_values_to_be_of_type",
        "kwargs": {
          "column": "taxonomy.counts",
          "type_": "list"
        },
        "meta": {}
      },
      "result": {
        "element_count": 944,
        "missing_count": 821,
        "missing_percent": 86.97033898305084,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_message": null,
        "exception_traceback": null
      }
    }
  ],
  "evaluation_parameters": {},
  "statistics": {
    "evaluated_expectations": 11,
    "successful_expectations": 10,
    "unsuccessful_expectations": 1,
    "success_percent": 90.9090909090909
  },
  "meta": {
    "great_expectations_version": "0.18.3",
    "expectation_suite_name": "taxonomy.taxonomy",
    "run_id": {
      "run_name": null,
      "run_time": "2023-11-30T10:20:37.341701-03:00"
    },
    "batch_kwargs": {
      "ge_batch_id": "40111366-8f83-11ee-90f3-ae6c8bb8ddd3"
    },
    "batch_markers": {},
    "batch_parameters": {},
    "validation_time": "20231130T132037.341658Z",
    "expectation_suite_meta": {
      "great_expectations_version": "0.15.19",
      "data_asset_type": "Dataset"
    }
  }
}